<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>

    <body>
        {{{body}}}
    </body>

    {{!-- Functions --}}

    <script>
      function signupViaAjax() {
        fetch("/sign-up", { method: 'POST', body: JSON.stringify({username: document.getElementById('username').value, password: document.getElementById('password').value}), headers: {"Content-Type": "application/json"}
        })
        .then(function(data) {
          // Here you get the data to modify as you please
          console.log(data)
        })
        .catch(function(error) {
          // If there is any error you will catch them here
          console.log(error)
        });
      }
    </script>
</html>
